[submodule "pyimq"]
	path = pyimq
	url = https://github.com/siemdejong/pyimagequalityranking.git
	branch = bmp-support
[submodule "hydra-torchrun-launcher"]
	path = hydra-torchrun-launcher
	url = https://github.com/siemdejong/hydra-torchrun-launcher
	branch = torchrun-launcher-only
[submodule "n2v"]
	path = n2v
	url = https://github.com/siemdejong/n2v
